#div1
{
  font-family: 'Roboto', sans-serif;
  background-color:#e6ecf0;
  height:950px;
  width:1350px;

}
#div2
{
  height:150px;
  width:300px;
  background-color:white;
  color:black;
  padding:5px;
  margin-left:20px;
  margin-top:10px;
}
#div3
{
  height:450px;
  width:300px;
  background-color:white;
  color:black;
  padding:5px;
  margin-left:20px;
}
#div4
{
  height:600px;
  width:560px;
  background-color:white;
  color:black;
  padding-left:25px;
  margin-top:20px;
  margin-left:20px;
}
#b1{
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  outline:none;
  color:white;
  background-color:#00aced;
  border: none;
  border-radius: 25px;
  font-family:"Segoe UI",Arial,sans-serif;
  margin-top:-45px;
  margin-right: 40px;
}

#b1:hover
{
background-color:#0084b4;
 -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#Abheader1 a
{
  text-decoration: none;
  color:grey;
  font-weight:bolder;
}
#Abheader1 a:hover
{
  color:#00aced;
  text-decoration: underline ;
  margin-top:20px;
   -webkit-transition-duration: 0.1s; /* Safari */
     transition-duration: 0.1s;
}
#Abheader1
{
     margin-top:-40px;
}
#Abheader2
{
     margin-top:10px;
}
#maindiv3
{
  float:left;
  width:330px;
  height:750px;
  background-color:#e6ecf0;
  margin-left:10px;
  padding:10px;

}
#maindiv2
{
  float:left;
  width:600px;
  height:750px;
  background-color:#e6ecf0;
  margin-left:10px;
}
#div5
{
  width:300px;
  height:400px;
  background-color:white;
  padding:15px;
}
#div6
{
  width:300px;
  height:200px;
  background-color:white;
  padding:15px;
}
#maindiv1
{
  background-color:#e6ecf0;
  width:370px;
  height:750px;
  float:left;
}
#searchbox
{
  border-radius:20px;
  color:black;
  display:inline-block;
  background-color:#e6ecf0;
  padding: 5px 5px;

}
#b2
{
  background-color:transparent;
  border-radius:8px;
  cursor:pointer;
}
#profh2
{
  color:grey;
}
#profh3
{
  color:#00aced;
}
.trendsh1
{
  color:#00aced;
}
.trendsh2
{
  color:grey;
}
.suggestionsb1
{
  background-color:transparent;
  border-radius:15px;
  cursor:pointer;
  color:#00aced;
  padding:5px 10px;
  text-align:center;
  border: 2px solid #00aced;
}
#copyrightsh1
{
 color:grey;
}
#subdiv4
{
  background-color:lightblue;
  color:#00aced;
  height:50px;
  width:500px;
}
#text1
{
   margin-top:10px;
  width:70%;
  border-radius:20px;
  padding:5px;
}
